
 <%-include("../../views/partials/user/header") %>

 <link href="/css/home.css" rel="stylesheet">

        <!-- banner Start -->
        <div class="container-fluid py-5 mb-5 hero-header"> 
                    <div class="col-md-12">
                        <div id="carouselId" class="carousel slide position-relative" data-bs-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active rounded">
                                    <img src="img/bnr01.png" class="img-fluid w-100 rounded" alt="First slide">
                                </div>
                                <div class="carousel-item rounded">
                                    <img src="img/bnr02.png" class="img-fluid w-100  rounded" alt="Second slide">
                                </div>
                                <div class="carousel-item rounded">
                                    <img src="img/bnr03.png" class="img-fluid w-100 h-100  rounded" alt="Second slide">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
        </div>
        <!-- banner End -->


          <!-- Specialities Start -->
          <div class="container-fluid service py-5">
            <h1 style="    text-align: center;">Our Specialities</h1>
            <div class="container py-5">
                <div class="row g-4 justify-content-center">
                    <div class="col-md-6 col-lg-4">
                            <div class="service-item bg-secondary rounded border border-secondary">
                                <img src="img/01.jpg" class="img-fluid rounded-top w-100" alt="">
                                <div class="px-4 rounded-bottom">
                                    <div class="service-content bg-primary text-center p-4 rounded">
                                        <!-- <h5 class="text-white">Fresh Apples</h5> -->
                                        <h4 class="mb-0">Comfort that moves with them</h4>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <a href="#">
                            <div class="service-item bg-dark rounded border border-dark">
                                <img src="img/02.jpg" class="img-fluid rounded-top w-100" alt="">
                                <div class="px-4 rounded-bottom">
                                    <div class="service-content bg-light text-center p-4 rounded">
                                        <!-- <h5 class="text-primary">Tasty Fruits</h5> -->
                                        <h4 class="mb-0">Soft fabrics, softer hugs</h4>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <a href="#">
                            <div class="service-item bg-primary rounded border border-primary">
                                <img src="img/03.jpg" class="img-fluid rounded-top w-100" alt="">
                                <div class="px-4 rounded-bottom">
                                    <div class="service-content bg-secondary text-center p-4 rounded">
                                        <!-- <h5 class="text-white">Exotic Vegitable</h5> -->
                                        <h4 class="mb-0"> Breathable. Washable. Lovable</h4>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Specialities End -->

         
            <!-- All products Start-->
            <div class="container-fluid fruite py-5">
                <div class="container py-5">
                    <div class="tab-class text-center">
                        <div class="row g-4" style="padding-top: 3rem;">
                            <div class="text-start">
                                <h1 style="text-align:center">All Products</h1>
                            </div>
                            
                        </div>
        
                        <div class="tab-content" style="padding-top: 3rem;">
                            <div id="tab-all" class="tab-pane fade show p-0 active">
                                <div class="row g-4">
                                    <% allProducts.forEach(product => { %>
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <div class="rounded position-relative fruite-item">
                                                <div class="fruite-img">
                                                    <% if (product.productImage && product.productImage.length > 0) { %>
                                                        <img src="<%= product.productImage[0] %>" class="img-fluid w-100 rounded-top" alt="">
                                                      <% } else { %>
                                                        <img src="/img/1.jpg" class="img-fluid w-100 rounded-top" alt="No image">
                                                      <% } %>
                                                                                              </div>
                                                <!-- <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">
                                                    <%= product.category?.name || 'All Products' %>
                                                </div> -->
                                                <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                                    <h4><%= product.productName %></h4>
                                                    <p class="text-truncate"><%= product.description %></p>
                                                  
                                                </div>
                                            </div>
                                        </div>
                                    <% }) %>
                                </div>
                            </div>
        
                        </div>

                        
                    </div>
                </div>
            </div>
            <!-- All Products End-->


        <!-- Featurs Section Start -->
        <div class="container-fluid featurs py-5">
            <div class="container py-5">
                <div class="row g-4" style="padding-top: 3rem;">
                    <div class="col-md-6 col-lg-3">
                        <div class="featurs-item text-center rounded bg-light p-4">
                            <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                                <i class="fas fa-car-side fa-3x text-white"></i>
                            </div>
                            <div class="featurs-content text-center">
                                <h5>Free Shipping</h5>
                                <p class="mb-0">Free on order over ₹599</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="featurs-item text-center rounded bg-light p-4">
                            <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                                <i class="fas fa-user-shield fa-3x text-white"></i>
                            </div>
                            <div class="featurs-content text-center">
                                <h5>Security Payment</h5>
                                <p class="mb-0">100% security payment</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="featurs-item text-center rounded bg-light p-4">
                            <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                                <i class="fas fa-exchange-alt fa-3x text-white"></i>
                            </div>
                            <div class="featurs-content text-center">
                                <h5>14 Day Return</h5>
                                <p class="mb-0">14 day money guarantee</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="featurs-item text-center rounded bg-light p-4">
                            <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                                <i class="fa fa-phone-alt fa-3x text-white"></i>
                            </div>
                            <div class="featurs-content text-center">
                                <h5>24/7 Support</h5>
                                <p class="mb-0">Support every time fast</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Featurs Section End -->

        

      




       
 <%-include("../../views/partials/user/footer") %>